<div *ngIf="!isLoading" class="card text-center">
  <div class="card-header">User Details</div>
  <div class="card-body">
    <h5 class="card-title">username: {{ user?.name }}</h5>
    <p class="card-text">City: {{ user?.city }}</p>

    <p class="card-text">Description: {{ user?.description }}</p>
  </div>
  <div class="card-footer">
    <button
      *ngIf="userId === user.creator"
      class="btn btn-primary mr-2"
      (click)="editHandler()"
    >
      Edit
    </button>
    <button
      *ngIf="userId === user.creator"
      class="btn btn-danger"
      (click)="deleteHandler()"
    >
      Delete
    </button>
  </div>
</div>
<div *ngIf="isLoading">
  <hr />
  <h2>Loading......</h2>
</div>
